{% for video in page.video %}
<video id='{{ video.file_name|raw }}' 
class='video-js vjs-default-skin vjs-big-play-centered' 
controls 
preload='auto'
width='{{ video.width }}'
height='{{ video.height }}'>
 <source src='{{ page.file_path|absolute }}/{{video.name|raw|lower}}.mp4' type='video/mp4' />
 <source src='{{ page.file_path|absolute }}{{video.name|raw|lower}}.ogv' type='video/ogg' />
 <source src='{{ page.file_path|absolute }}{{video.name|raw|lower}}.webm' type='video/webm' />
 <p class='vjs-no-js'>To view this video please enable JavaScript, and consider upgrading to a web browser that <a href='http://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a></p>
</video>
{% endfor %}