{% for child in page.root %}
  {% if child.children %}
    <ul id="projects">
    {% for child in child.children %}
        <li class="project" data-id="{{ child.id }}" data-title="{{ child.meta.title }}" data-date="{{ child.meta.date }}" data-status="{{ child.meta.status }}" {% if child.thumb.url %} data-thumbnail="{{ child.thumb.url }}" data-thumbnail-width="{{ child.thumb.width }}" data-thumbnail-height="{{ child.thumb.height }}"{% endif %}>
          <a href="{{ child.url }}" title="{{ child.meta.title }}">
            <div class="previewText">{{ child.meta.title|raw }}</div>
            <br/>
            <div class="previewDetail">{{ child.meta.status }}, {{ child.meta.date }}</div>
            </a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}